<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="!(bind.Property.Manufacturer)" >
        <Directory Id="WbsktSocketDir" Name="WbsktSocket">
          <Directory Id="DependenciesDir" Name="Dependencies" />
        </Directory>
      </Directory>
    </StandardDirectory>
  </Fragment>
</Wix>
