<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <Package Name="Wbskt Socket Service"
           Manufacturer="Wbskt"
           Version="2.0.0.0"
           UpgradeCode="daa39aa8-0199-434b-b27a-8ab842a1d312">

    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <!--Check .NET Runtime version-->
    <!--<Property Id="DOTNET_RUNTIME_VERSION">
      <RegistrySearch Id="DotNetRuntimeVersionCheck"
                      Root="HKLM"
                      Key="SOFTWARE\dotnet\Setup\InstalledVersions\x64\sharedhost"
                      Name="Version"
                      Type="raw" />
    </Property>-->

    <!--Custom Action to install .NET if needed-->
    <!--    <CustomAction Id="InstallDotNetRuntime"-->
    <!--                  FileRef="DotNetRuntimeInstaller"-->
    <!--                  ExeCommand=" /install /quiet /norestart /log dotnet-install.log"-->
    <!--                  Execute="deferred"-->
    <!--                  Return="check" />-->

    <!--Trigger Custom Action when .NET is not in the expected version range-->
    <!--    <InstallExecuteSequence>-->
    <!--      <Custom Action="InstallDotNetRuntime"-->
    <!--              After="InstallFiles" />-->
    <!--    </InstallExecuteSequence>-->

    <!-- Features -->
    <Feature Id="Main">
      <ComponentGroupRef Id="HarvestedComponentGroup" />
      <ComponentGroupRef Id="ManualServiceComponentGroup" />
<!--      <ComponentGroupRef Id="DotNetRuntimeComponentGroup" />-->
    </Feature>

  </Package>

  <!-- Components and Directories -->
  <Fragment>

    <ComponentGroup Id="ManualServiceComponentGroup">
      <Component Id="WbsktSocketServiceComponent" Guid="4aa39aa8-0199-434b-b27a-123456789123" Directory="WbsktSocketDir">
        <File Id="WbsktSocketExe" Source="Wbskt.Socket.Service.exe" KeyPath="yes" />

        <ServiceInstall
          Id="WbsktSocketService"
          Name="WbsktSocketService"
          DisplayName="Wbskt Socket Service"
          Description="Runs the Wbskt socket service in background"
          Start="auto"
          Type="ownProcess"
          ErrorControl="normal"
          Vital="yes" />

        <ServiceControl
          Id="StartService"
          Name="WbsktSocketService"
          Start="install"
          Stop="both"
          Remove="uninstall"
          Wait="yes" />

      </Component>
    </ComponentGroup>

    <!--    <ComponentGroup Id="DotNetRuntimeComponentGroup" >-->
    <!--      <Component Id="DotNetRuntimeComp" Guid="aaa39aa8-0199-434b-b27a-123456789124" Directory="DependenciesDir">-->
    <!--        <File Id="DotNetRuntimeInstaller" Source="Dependencies\dotnet-runtime-8.0.15-win-x64.exe" KeyPath ="yes"/>-->
    <!--      </Component>-->
    <!--    </ComponentGroup>-->

  </Fragment>
</Wix>
